@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --ff-primary: "Roboto", serif;
    --ff-accent: "Bad Script", serif;
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-family: var(--ff-primary);
    background-color: #000000;
    color: #ffffff;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  #root, #__next {
    isolation: isolate;
  }
/*//////////////////////////////////////////////////*/
.parallax{
  
  /* background: rgba(0, 0, 0, 0.5); */
  width: 100%;
  height: 100vh;
}
#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.content-fixed{
  position: fixed;
  z-index: 0;

}
h1{
    font-family: var(--ff-accent);
    font-size: clamp(3rem, 10vw, 6rem);
    text-wrap: balance;
    text-shadow: 0 1px 1px #000;
    font-weight: 100;
    text-align: center;
}
p{
    font-size: clamp(1rem, 3vw, 1.5rem);
    text-shadow: 0 1px 1px #000;

}
button{
    width: auto;
    height: auto;
    margin-top: 2rem;
    padding: clamp(.1rem, 10vw, 1rem) clamp(1rem, 10vw, 3rem);
    border-radius: 12px;
    border-style: none;
    text-shadow: 0 1px 1px #000;
    background-color: transparent;
    border: 3px solid #FFE01B;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
button::after{
  content: '';
  background: rgba(255, 224, 27, .4);
  height: 100%;
  width: 0px;
  border-radius: 9px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 500ms ease-in-out;
}
button:hover::after{
  width: 100%;
  color: #000;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-size: clamp(1rem, 3vw, 1.3rem);
    font-weight: 300;
    text-transform: uppercase;
    
}
.secondPage{
  background-color: #f9f2eb;
  height: 100vh;
  position: relative;
  z-index: 1;
  /* border-radius: 5rem 5rem 0 0; */
}
.secondPage h1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  color: #000000;
}
.thirdPage{
  background-color: #fbfbfb;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.thirdPage h1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  color: #000000;
}